*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    padding: 0px 50px 45px;
    background-color: rgb(245, 245, 245);
    border-bottom: 2px solid rgb(126, 126, 126);
}
.marq{
    background-color: black;
    color: white;
}
.scrolltext{
    animation: myanimation 20s linear infinite;
}
@keyframes myanimation {
    from {
        transform: translateX(100%);
    }    
    to {
        transform: translateX(-100%);
    }
}
nav{
    display: flex;
    gap: 40px;
    border: 1px solid rgb(126, 126, 126);
    padding: 15px;
}
a{
    text-decoration: none;
    color: black;
}
.navmenu{
    display: flex;
}
.button{
    display: flex;
}
h1{
    font-size: 35px;
    margin-bottom: 10px;
}
.text{
    margin-bottom: 20px;
}
.image img{
    width: 650px;
}
.one{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: end;
    padding: 0px 30px 0px;
    border-left: 1px solid rgb(126, 126, 126);
    border-right: 1px solid rgb(126, 126, 126);
}
.content{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin: 50px 50px 45px;
    padding: 0px 30px 0px;
    border-left: 1px solid rgb(126, 126, 126);
    border-right: 1px solid rgb(126, 126, 126);
}
p{
    text-align: justify;
    margin-bottom: 16px;
    font-size: 14px;
}
h4{
    margin-bottom: 20px;
    font-size: 20px;
}
aside section{
    display: flex;
    justify-content: space-between;
    margin-right: 130px;
    align-items: center;
    padding-bottom: 20px;
}
aside section div img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
h6{
    font-size: 16px;
}
h5{
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 2px solid rgb(126, 126, 126);
}
.sth{
    border-bottom: 2px solid rgb(126, 126, 126);
}
.news{
    margin-top: 20px;
}